@media (prefers-color-scheme: dark) {
  body, #wrapper, #search {
    background: #201A20;
    color: #E0DAE0;
  }

  header#top a:link, header#top a:active, header#top a:visited, header#top a:hover {
    color: #E0CAE0;
  }
}

a {
    text-decoration: none;
}

a:link {
    color: #b060f0;
}

a:active {
    color: #d080ff;
    text-decoration: wavy;
    font-weight: bold;
}

a:visited {
    color: #8040a0;
}

nav ul li {
    display: inline-block;
    margin: 0.5rem 0.2rem;
}

nav ul li:before {
    content: '';
    padding: 0;
}

nav ul li a:hover {
    text-decoration: none;
}

.prev_next {
    font-size: 256%
}

.prev_next a:hover {
    text-decoration: none;
    color: #d080ff;
}

code {
    font-family: 'VictorMono Nerd Font', 'Roboto Mono', 'Menlo', 'Consolas', monospace;
    font-size: smaller;
}
