<ul>
  <li><a href="<%= page "index" %>">🏠</a></li>
  <li><a href="<%= page "awry" %>">📎</a></li>
  <li><a href="<%= page "resume" %>">📖</a></li>
  <li><a href="<%= page "favorites" %>">💜</a></li>
  <li><a href="<%= base "posts" %>">📔</a></li>
  <li><a rel="me" href="https://mastodon.social/@mudasobwa">🐘</a></li>
  <li><div id="search"></div></li>
</ul>
